body {
  font-family: "Nunito";
}
.upper-overview {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
}
.notfication-img-container {
  height: 56px;
  width: 56px;
}
.notification-img {
  width: 48px;
  height: 48px;
}
.member-grid-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem;
  margin-left: 4.6rem;
  margin-right: 8.4rem;
}
.member-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 14px;
  padding: 24px;

  .dots-container {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 1rem;
    background-color: transparent;

    &:hover {
      background-color: #f5f7fa;
    }
  }
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.dropdown-member {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 0.5rem;
  border-radius: 1rem;
  right: -9.5rem;
  top: 1.9rem;
  min-width: 14rem;
}
.horizontal-line {
  margin: 0.5rem 0rem;
  border-bottom: 1px solid #ebeef2;
}
.dropdown-option {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  padding: 14px 1rem;
  width: 100%;
  border-radius: 14px;

  border: none;
  background: transparent;
  &:hover {
    background-color: #0066ff;
  }
}

.member-img-container {
  align-self: center;
  height: 150px;
  width: 150px;
  margin-bottom: 1rem;

  img {
    width: 100%;
    height: 100%;
  }
}
.member-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;

  h4 {
    font-size: 24px;
    font-weight: 600;
    font-family: "Nunito";
  }
  .member-title-card {
    background-color: #f0f1f5;
    border-radius: 14px;
    padding: 0.5rem 1rem;
    text-align: center;
    margin-top: 0.5rem;
  }
}

.member-contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.dropdown-option-add {
  border-bottom: 1px solid #ebeef2;
}

.dropdown-option-delete {
  color: red;
}
