@model ClientsViewModel 
@{
    ViewData["Title"] = "Clients";
}

<div class="overview">
    <div class="container">
        <div class="upper-overview">
            <h2>@ViewData["Title"]</h2>
            <button type="button" data-modal="true" data-target="#addClientModal" class="blue-btn add-btn">
                <i class="fa-regular fa-plus"></i> Add Client
            </button>
        </div>
    </div>
     @await Html.PartialAsync("Partials/ManagementComponents/_ClientAddModal", Model.AddClient) 
     @await Html.PartialAsync("Partials/ManagementComponents/_ClientEditModal", Model.EditClient)

</div>
<div class="container">
    @await Html.PartialAsync("Partials/ManagementComponents/_ClientFlexLayout", Model.Clients)
</div>