<form asp-controller="Auth" asp-action="ExternalSignIn" method="post" novalidate>
    <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" >
    <button type="submit" name="provider"></button>

</form>
