<div class="chat">
    <div class="chat-form">
        <div class="from-group">
            <label>Name:</label>
            <input id="username" class="username" placeholder="Your name">
        </div>
        <div class="from-group">
            <label>Message:</label>
            <input id="message" class="username" placeholder="Your Message">
        </div>
        <div class="from-group">
            <button class="btn blue-btn" onclick="sendMessage()">SEND</button>
        </div>
    </div>
    <div class="result">
        <div id="chat-messages"></div>
    </div>
</div>
