@model AddClientDto
<div class="modal-container" id="addClientModal">
    <div class="modal-card" >
        <div class="top-card">
            <h3>Add Client</h3>
            <button class="exit-btn" data-close="true">
                <i class="fa-solid fa-xmark fa-2xl"></i>
            </button>
        </div>
        
        <form novalidate method="post" asp-action="AddClient" asp-controller="Clients">
            <div class="image-previewer circle">
                <img src="" class="image-preview" />
                <input asp-for="ClientImage" accept="image/*" class="hide" />
            </div>
            <div class="labelgroup-modal">
                <label asp-for="CompanyName"></label>
                <div class="field-group">
                    <input asp-for="CompanyName"/>
                    <span asp-validation="CompanyName"></span>
                </div>
            </div>

            <div class="labelgroup-modal">
                <label asp-for="Location">Location</label>
                <div class="field-group">
                    <input asp-for="Location" />
                    <span asp-validation-for="Location"></span>
                </div>
            </div>

            <div class="labelgroup-modal">
                <label asp-for="Email">Email</label>
                <div class="field-group">
                    <input asp-for="Email" />
                    <span asp-validation-for="Email"></span>
                </div>
            </div>

            <div class="labelgroup-modal">
                <label asp-for="Phone"></label>
                <div class="field-group">
                    <input asp-for="Phone" />
                    <span asp-validation-for="Phone"></span>
                </div>
            </div>

            <button type="submit" class="btn blue-btn">Add Client</button>
        </form>
    </div>
</div>