<div class="info-row">
    <div class="client-checkbox-header">
        <input type="checkbox" name="" id="">
    </div>
    <div class="client-list-header">
        <p>Client name</p>
    </div>
    <div class="client-list-header location">
        <p>Location</p>
    </div>
    <div class="client-list-header phonenumber">
        <p>Phonenumber</p>
    </div>
    <div class="client-list-header date">
        <p>Date added</p>
    </div>
    <div class="client-list-header status">
        <p>Status</p>
    </div>
</div>