@model IEnumerable<Client>
@await Html.PartialAsync("Partials/ManagementComponents/_ClientListHeader")
<div class="client-flex-layout">
    @foreach(var client in Model)
    {
        @await Html.PartialAsync("Partials/ManagementComponents/_ClientCard", client)

    }

    
</div>