@await Html.PartialAsync("Partials/ManagementComponents/_ClientListHeader")
<div class="client-flex-layout">
    @await Html.PartialAsync("Partials/ManagementComponents/_ClientCard")
    @await Html.PartialAsync("Partials/ManagementComponents/_ClientCard")
    @await Html.PartialAsync("Partials/ManagementComponents/_ClientCard")
    
</div>