<div class="dropdown-client dropdown">
    <button class="dropdown-option" data-modal="true" data-target="#editClientModal" data-type="Client">
        <i class="fa-duotone fa-solid fa-pen" ></i>
        Edit Member
    </button>
    <div class="horizontal-line"></div>
    <button class="dropdown-option dropdown-option-delete" >
        <i class="fa-duotone fa-solid fa-trash"></i>
        Delete Member
    </button>
</div>