@model MembersViewModel
 
<div class="member-grid-layout">
    @if (Model.Members != null && Model.Members.Any())
    {
        @foreach (var memberViewModel in Model.Members)
        {
            @await Html.PartialAsync("Partials/ManagementComponents/_MemberCard", memberViewModel)
        }
    }
    else
    {
        <p>No members to display.</p>
    }
</div>
