<div class="member-grid-layout">
    @await Html.PartialAsync("Partials/ManagementComponents/_MemberCard")
    @await Html.PartialAsync("Partials/ManagementComponents/_MemberCard")
    @await Html.PartialAsync("Partials/ManagementComponents/_MemberCard")
</div>