@model string 
<div class="dropdown-member dropdown" id="member-dropdown-@Model">
    <button class="dropdown-option" data-modal="true" data-target="#editMemberModal" data-type="Member" data-id="@Model">
        <i class="fa-duotone fa-solid fa-pen"></i>
        Edit Member
                </button>
                <div class="horizontal-line"></div>
                <button class="dropdown-option dropdown-option-delete">
        <i class="fa-duotone fa-solid fa-trash"></i>
        Delete Member
                </button>
            </div>