<div class="notification dropdown">
    <div class="notification-header">
        <p>Notifications</p>
        <span>1</span>
    </div>
    <div class="notification-main">
        <div class="notification-main-container">
            <div class="notfication-img-container">
                <img class="notification-img" src="/images/avatar1.svg" alt="">
            </div>
            <div class="notification-main-text">
                <p class="notification-title">Hans Mattin-Lassei updated</p>
                <p class="notification-time">1 min ago</p>
            </div>
            <p>X</p>
        </div>

    </div>
</div>