@model IEnumerable<Project>
<div class="project-grid-layout">
    @foreach(var project in Model)
    {
        @await Html.PartialAsync("Partials/ManagementComponents/_ProjectCard", project)
    }
</div>
