@using System.Text.Json
@model AddProjectViewModel

@{
    var selectedUsersJson = JsonSerializer.Serialize(
                         Model.SelectedMembersIds.Select(m => new
                         {
                             // id = m.,
                             // imageUrl = m. ,
                             // fullName = m.FirstName + " " + m.LastName,
                 })
             );

    var selectedClientsJson = JsonSerializer.Serialize(
    string.IsNullOrEmpty(Model.SelectedClientId) ? null : new[] { new {
        // id = Model.SelectedClientId,
        // imageUrl = "", 
    } }
        );
}

<div class="modal-container" id="addProjectModal">
    <div class="modal-card">
        <div class="top-card">
            <h3>Add Project</h3>
            <button class="exit-btn" data-close="true">
                <i class="fa-solid fa-xmark fa-2xl"></i>
            </button>
        </div>

        <form novalidate method="post" asp-action="Add" asp-controller="Projects">
            @* <input type="hidden" asp-for= "Id" /> *@
            <input type="hidden" name="SelectedMemberIds" id="SelectedMemberIds" />
            <input type="hidden" name="SelectedClientId" id="SelectedClientId" />

            <div class="image-previewer circle">
                <img src="" class="image-preview" />
                <input asp-for="ProjectImage" accept="image/*" class="hide" />
            </div>

            <div class="labelgroup-modal">
                <label asp-for="ProjectName"></label>
                <div class="field-group">
                    <input asp-for="ProjectName" />
                    <span asp-validation-for="ProjectName"></span>
                </div>
            </div>

            <div class="labelgroup-modal">
                <div class="modal-label"></div>
                <div id="tagged-clients" class="form-input form-tag-select">
                    <input type="text" id="client-search" class="form-tag-input" placeholder="Add Client..." />
                    <label for="client-search">
                        <i></i>
                    </label>
                    <div id="client-search-results" class="search-results"></div>
                </div>
            </div>

            <div class="labelgroup-modal">
                <label asp-for="Description"></label>
                <div class="wysiwyg">
                    <textarea id="Description" asp-for="Description" style="display: none;"></textarea>
                    <div id="project-wysiwyg-editor"></div>
                    <div id="project-wysiwyg-toolbar">
                        <span class="ql-formats">
                            <button class="ql-bold"></button>
                            <button class="ql-italic"></button>
                            <button class="ql-underline"></button>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-align" value=""></button>
                            <button class="ql-align" value="center"></button>
                            <button class="ql-align" value="right"></button>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-list" value="bullet"></button>
                            <button class="ql-list" value="ordered"></button>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-link"></button>
                        </span>
                    </div>
                    
                </div>
            </div>


            <div class="dates-flex">
                <div class="labelgroup-modal">
                    <label asp-for="StartDate"></label>
                    <div class="field-group">
                        <input asp-for="StartDate" />
                        <span asp-validation-for="StartDate"></span>
                    </div>
                </div>
                <div class="labelgroup-modal">
                    <label asp-for="EndDate"></label>
                    <div class="field-group">
                        <input asp-for="EndDate" />
                        <span asp-validation-for="EndDate"></span>
                    </div>
                </div>
            </div>

            <div class="labelgroup-modal">
              <div class="modal-label"></div>
              <div id="tagged-users" class="form-input form-tag-select">
                  <input type="text" id="user-search" class="form-tag-input" placeholder="Add Member..." />
                  <label for="user-search">
                      <i></i>
                  </label>
                  <div id="user-search-results" class="search-results"></div>
              </div>
            </div>

            <div class="labelgroup-modal">
                <label asp-for="Budget">Budget</label>
                <div class="value-icon-container">
                    <img class="value-icon" src="/css/images/Dollar.svg" alt="" />
                </div>
                <input asp-for="Budget"/>
                <span asp-validation-for="Budget"></span>
            </div>

            <button class="blue-btn btn" type="submit">Create</button>
        </form>
    </div>
</div>


<script>
        document.addEventListener('DOMContentLoaded', function(){
        initWysiwyg('#project-wysiwyg-editor', '#project-wysiwyg-toolbar', 'Description', '@Html.Raw(ViewBag.RichTextContent ?? "")');
        

    });

    function initWysiwyg(wysiwygEditorId, wysiwygToolbar, textareaId, content) {
        const textarea = document.getElementById(textareaId);
        

        const quill = new Quill(wysiwygEditorId, {
            modules: {
                syntax: true,
                toolbar: wysiwygToolbar,
            },
            placeholder: 'Type something...',
            theme: 'snow',
        });

        if (content) {
            quill.root.innerHTML = content;
        }

        quill.on('text-change', function() {
            textarea.value = quill.root.innerHTML;
        });
    }

    
                 let isAddModalInitialized = false;


    function initAddModalTags() {
        if (isAddModalInitialized) return;
        isAddModalInitialized = true;

        const preSelectedMembers = @Html.Raw(selectedUsersJson);
        const preSelectedClient = @Html.Raw(selectedClientsJson);

        initTagSelector({
            containerId: 'tagged-users',
            inputId: 'user-search',
            resultId: 'user-search-results',
            searchUrl: (query) => '/members/search-members?term=' + encodeURIComponent(query),
            displayProperty: 'fullName',
            imageProperty: 'imageUrl',
            avatarFolder: '',
            tagClass: 'user-tag',
            emptyMessage: 'No users found.',
            preselected: preSelectedMembers,
            selectedInputIds: 'SelectedMemberIds'
        });

        initTagSelector({
            containerId: 'tagged-clients',
            inputId: 'client-search',
            resultId: 'client-search-results',
            searchUrl: (query) => '/clients/search-clients?term=' + encodeURIComponent(query),
            displayProperty: 'clientName',
            imageProperty: 'imageUrl',
            avatarFolder: '',
            tagClass: 'client-tag',
            emptyMessage: 'No clients found.',
            preselected: preSelectedClient,
            selectedInputIds: 'SelectedClientId'
        });
    }

</script>

@* <label asp-for="UserId"></label> *@
@* <div class="search-icon-container"> *@
@*     <img class="search-icon" src="/css/images/Search.svg" alt="" /> *@
@* </div> *@
@* <input asp-for="UserId" /> *@
@* <span asp-validation-for="UserId"></span> *@