<div class="profile-dropdown dropdown" >
    <div class="profile-bar">
        <img src="/images/avatar1.svg" alt="">
        <p>UserName</p>
    </div>
    <div class="darkmode-bar">
        <img src="/images/Setting.svg" alt="">
        <p>DarkMode</p>
        Icon
    </div>
    <div class="horizontal-line"></div>
    <a class="logout-bar"> <img src="/images/Logout.svg" alt=""> Logout</a>
</div>