<div class="project-grid-layout">

    @await Html.PartialAsync("Partials/ManagementComponents/_ProjectCard")
    @await Html.PartialAsync("Partials/ManagementComponents/_ProjectCard")
    @await Html.PartialAsync("Partials/ManagementComponents/_ProjectCard")
</div>