<div class="searchbar-container">
                <i class="fa-duotone fa-solid fa-magnifying-glass"></i>
                <input type="text" name="searchbar" id="searchbar" class="searchbar"
                       placeholder="Search anything...">
            </div>