@model ProjectsViewModel
@{
    ViewData["Title"] = "Projects";
}
<div class="overview">
    <div class="container">
        <div class="upper-overview">
            <h2>@ViewData["Title"]</h2>
            <button type="button" data-modal="true" data-target="#addProjectModal" class="blue-btn add-btn">
                <i class="fa-regular fa-plus"></i> Add project</button>
        </div>
        @await Html.PartialAsync("Partials/ManagementComponents/_FilterOverview")
        @await Html.PartialAsync("Partials/ManagementComponents/_ProjectAddModal", Model.AddProject)
        @await Html.PartialAsync("Partials/ManagementComponents/_ProjectEditModal", Model.Edit)

    </div>

</div>
<div class="container">
    @await Html.PartialAsync("Partials/ManagementComponents/_ProjectGridLayout", Model.Projects)
</div>