@{
    ViewData["Title"] = "Projects";
}
<div class="overview">
    <div class="container">
        <div class="upper-overview">
            <h2>@ViewData["Title"]</h2>
            <button class="blue-btn add-btn"><i class="fa-regular fa-plus"></i> Add project</button>
        </div>
        @await Html.PartialAsync("Partials/ManagementComponents/_FilterOverview")
    </div>

</div>
<div class="container">
    @await Html.PartialAsync("Partials/ManagementComponents/_ProjectGridLayout")
</div>