<form>
    <div class="input-group">
        <label class="label" for="firstName">Firstname</label>
        <input type="text"
               name="firstName"
               id="firstName"
               placeholder="Your Firstname" />
    </div>
    <div class="input-group">
        <label class="label" for="firstName">Lastname</label>
        <input type="text"
               name="lastName"
               id="lastName"
               placeholder="Your Lastname" />
    </div>
    <div class="input-group">
        <label for="email">Email</label>
        <input type="email"
               name="email"
               id="email"
               placeholder="Your email address" />
    </div>
    <div class="input-group">
        <label for="password">Password </label>
        <i class="fa-regular fa-eye"></i>
        <input type="password"
               name="password"
               id="password"
               placeholder="Enter your password" />
    </div>
    <div class="input-group">
        <label for="confirmPassword">Confirm Password</label>
        <i class="fa-regular fa-eye"></i>
        <input type="password"
               name="confirmPassword"
               id="confirmPassword"
               placeholder="Confirm your password" />
    </div>
    <div class="checkbox-group">
        <div class="checkbox-join">
            <input type="checkbox" name="terms" id="terms" />
            <p>I accept <span>Terms and Conditions</span></p>
        </div>
    </div>
    <div class="submit-btn-group">
        <button class="blue-btn btn" type="submit">
            Create Account
        </button>
    </div>
</form>