<form>
    <div class="input-group">
        <label for="email">Email</label>
        <input type="email"
               name="email"
               id="email"
               placeholder="Your email address" />
    </div>
    <div class="input-group">
        <label for="password">Password </label>
        <i class="fa-regular fa-eye"></i>
        <input type="password"
               name="password"
               id="password"
               placeholder="Enter your password" />
    </div>
    <div class="checkbox-group">
        <div class="checkbox-join">
            <input type="checkbox" name="terms" id="terms" />
            <p>Remember me</p>
        </div>
        <span class="forgot-span">Forgot Password?</span>
    </div>
    <div class="submit-btn-group">
        <button class="blue-btn btn" type="submit">Log In</button>
    </div>
</form>