@model MemberSignUpDto
<form asp-action ="SignUp" asp-controller="Auth" method="post" novalidate>

    @if (!string.IsNullOrEmpty(ViewBag?.ErrorMessage))
    {
        <div class="auth-error-message">
            @ViewBag?.ErrorMessage
        </div>
    }
    <div class="input-group">
        <label asp-for="FirstName" class="label" ></label>
        <input asp-for="FirstName"/>
        <span asp-validation-for="FirstName"></span>
    </div>
    <div class="input-group">
        <label class="label" asp-for="LastName"></label>
        <input asp-for="LastName" />
        <span asp-validation-for="LastName"></span>
    </div>
    <div class="input-group">
        <label asp-for="Email"></label>
        <input asp-for="Email"/>
        <span asp-validation-for="Email"></span>
    </div>
    <div class="input-group">
        <label asp-for="Password"> </label>
        <i class="fa-regular fa-eye"></i>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>

    </div>
    <div class="input-group">
        <label asp-for="ConfirmPassword"></label>
        <i class="fa-regular fa-eye"></i>
        <input asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <div class="checkbox-group">
        <div class="checkbox-join">
            <input type="checkbox" name="terms" id="terms" />
            <p>I accept <span>Terms and Conditions</span></p>
        </div>
    </div>
    <div class="submit-btn-group">
        <button class="blue-btn btn" type="submit">
            Create Account
        </button>
    </div>
</form>