
@model MemberSignInViewModel
<form asp-action="SignIn" asp-controller="Auth" method="post" novalidate>
    <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl"/>
    @if(!string.IsNullOrEmpty(ViewBag?.ErrorMessage))
    {
        <div class="auth-error-message">
            @ViewBag?.ErrorMessage
        </div>
    }
    <div class="input-group">
        <label asp-for="Email"></label>
        <input asp-for="Email"/>
    </div>
    <div class="input-group">
        <label asp-for="Password"> </label>
        <i class="fa-regular fa-eye"></i>
        <input asp-for="Password" />
    </div>
    <div class="checkbox-group">
        <div class="checkbox-join">
            <input type="checkbox" name="terms" id="terms" />
            <p>Remember me</p>
        </div>
        <a  class="forgot-span">Forgot Password?</a>
    </div>
    <div class="submit-btn-group">
        <button class="blue-btn btn" type="submit">Sign In</button>
    </div>
</form>