<div class="container">
    <div class="form-container" >
        <form>
            <div class="input-group">

            </div>

            <div class="input-group">

            </div>

        </form>
    </div>
</div>