<aside>
    <nav class="sidebar">
        <div class="container">
            @await Html.PartialAsync("Partials/ManagementComponents/_LogoType")
            @await Html.PartialAsync("Partials/ManagementComponents/_SidebarLinks")
        </div>
    </nav>
</aside>