<header>
    <div class="header">
        <div class="container">
            @await Html.PartialAsync("Partials/ManagementComponents/_SearchBar")

            @await Html.PartialAsync("Partials/ManagementComponents/_ProfileDropdown")


             @await Html.PartialAsync("Partials/ManagementComponents/_NotificationDropdown")
            

            <div class="vertical-line"></div>

            <div class="profile-img-container">
                <img src="/images/avatar1.svg" alt="Profile">
            </div>

        </div>
    </div>
</header>
