@{
    ViewData["Title"] = "Create Account";

    Layout = "_AuthLayout";

}
<div class="container">
    <div class="form-container">
        <h1>@ViewData["Title"]</h1>
        @await Html.PartialAsync("Partials/AuthComponents/_Google-SignIn-Btn")
        @await Html.PartialAsync("Partials/AuthComponents/_FormDivider")
        @await Html.PartialAsync("Partials/_SignUpForm")
        @await Html.PartialAsync("Partials/AuthComponents/_AlreadyAccount")
    </div>
</div>

